
@import "general/base/variables";
@import "general/utils/mixins";
@import "general/utils/functions";

$theme-color:  #9b1be5;
$secondary-color: #e54595;


/**
* ----------------------------------------------
* Grediant CODES
* ----------------------------------------------
*
*/
$btn-gred: linear-gradient( 122deg, #9b1be5 0%, #fd378e 100%);
$gradient-overlay: linear-gradient(90deg, #ff0084 0%, #9b1be5 100%);
$text-gradient: linear-gradient(to right, #9b1be5 0%, #fd378e 100%);
$btn-outline-gred: linear-gradient(white, white), radial-gradient(circle at top left, #9b1be5, #fd378e);

del{
    color: $secondary-color;
}

a{
    &:hover{
        color: $theme-color;
    }
}

.gred-bottom-line{
    h2{
        &:after{
            background-image: $gradient-overlay;
        }
    }
}

.scroll-top{
    &:hover{
        .scroll-top-icon {
            background-color: $theme-color;
        }
    }
}

.text-primary{
    color: $theme-color !important;
}

.text-secondary{
    color: $secondary-color !important;
}

.text-grediant {
    @include text-gradient($text-gradient);
}

.grediant-overlay {
    background-image: $gradient-overlay;
}

.bg-grediant{
    background-image: $gradient-overlay;
    color: $white;
}

.bg-primary{
    background: $theme-color !important;
}

.close {
    &:hover {
        color: $theme-color;
    }
}

.more-link {
    &:after {
        background: $theme-color;
    }
    &:hover {
        color: $theme-color;
    }
}

.btn-primary {
    @include gradient($btn-gred);
    color: $white;
    &:hover{
        color: $white;
    }
    &:not(:disabled) {
        &:not(.disabled) {
            &.active,
            &:active {
            @include gradient($btn-gred);
            color: $white;
            }
        }
    }
}

.btn-outline-primary {
    @include border(null, 1px, solid, transparent);
    @include gradient($btn-outline-gred,padding-box, border-box, border-box);
    color: $black;
    &:hover,&:focus,&:active {
      border-color: transparent;
      background-color: $theme-color;
      @include gradient($text-gradient,border-box, padding-box,border-box);
      color: $white;
      box-shadow:$box-shadow;
    }
}


.faq-card{
    @include gradient($btn-outline-gred, padding-box, border-box, border-box);
}

.btn-outline-white{
    &:hover{
        color: $theme-color;
        background: $white;
    }
}

.btn-white{
    color: $theme-color;
}

.preloader {
    .bar-loader {
        span{
            background: $theme-color;
        }
    }
}

.header {
    &.link-nav{
        &.fixed-nav{
            .navbar-nav {
                .nav-link {
                    &.active,
                    &:hover {
                    color: $theme-color;
                    }
                }
            }
        }
    }
}


.owl-carousel { 
    .owl-dots{
        .owl-dot:hover, .active{
        &:after{
            background: $theme-color;
        }
        }
    }
    .owl-nav {
        button.owl-next,
        button.owl-prev {
        color: $theme-color;
        }
    }
}

.swiper-slider-button{
    .slider-button-prev,.slider-button-next{
        color: $theme-color;
    }
}

.header{
    &.fixed-nav {
        .btn-white{ 
            background-image: $btn-gred;
            color: $white;
            &:hover{
                border-color: transparent;
            }
        }
    }
}

.header.line-nav.fixed-nav {
    .navbar-nav .nav-link{
        &.active, &:hover{
            color: $theme-color;
            &:after{
                background: $theme-color;
            }
        }
    }
}


.footer-nav{
    .navbar-nav{
        .nav-link{
            &:hover{
                color: $theme-color;
            }
        }
    }
}

.app-service-card-2 {
    &:before {
        border-color: $theme-color;
    }
    &:after{
        background: $theme-color;
    }
}


.video-btn{
    a{
        color: $theme-color;
        &:hover{
            background: $theme-color;
            color: $white;
        }
    }
}