
@import "general/base/variables";
@import "general/utils/mixins";
@import "general/utils/functions";

$theme-color:  #EA3E2D;
$secondary-color: #DB0C44;


/**
* ----------------------------------------------
* Grediant CODES
* ----------------------------------------------
*
*/
$btn-gred: linear-gradient(to right, #132D47 0%, #00B3FF 100%);
$gradient-overlay: linear-gradient(-225deg, #132D47 0%, #00B3FF 100%);
$text-gradient: linear-gradient(to right, #132D47 2%, #00B3FF 82%);
$btn-outline-gred: linear-gradient(white, white), radial-gradient(circle at top left, #132D47, #00B3FF);


a{
    &:hover{
        color: $theme-color;
    }
}

.scroll-top{
    &:hover{
        .scroll-top-icon {
            background-color: $theme-color;
        }
    }
}

.text-primary{
    color: $theme-color !important;
}

.text-secondary{
    color: $secondary-color;
}

.text-grediant {
    @include text-gradient($text-gradient);
}

.grediant-overlay {
    background-image: $gradient-overlay;
}

.bg-grediant{
    background-image: $gradient-overlay;
    color: $white;
}

.bg-primary{
    background: $theme-color !important;
}

.close {
    &:hover {
        color: $theme-color;
    }
}

.more-link {
    &:after {
        background: $theme-color;
    }
    &:hover {
        color: $theme-color;
    }
}

.btn-primary {
    @include gradient($btn-gred);
    color: $white;
    &:hover{
        color: $white;
    }
    &:not(:disabled) {
        &:not(.disabled) {
            &.active,
            &:active {
            @include gradient($btn-gred);
            color: $white;
            }
        }
    }
}

.btn-outline-primary {
    @include border(null, 1px, solid, transparent);
    @include gradient($btn-outline-gred,padding-box, border-box, border-box);
    color: $black;
    &:hover,&:focus,&:active {
      border-color: transparent;
      background-color: $theme-color;
      @include gradient($text-gradient,border-box, padding-box,border-box);
      color: $white;
      box-shadow:$box-shadow;
    }
}

.btn-outline-white{
    &:hover{
        color: $theme-color;
        background: $white;
    }
}

.btn-white{
    color: $theme-color;
}

.preloader {
    .bar-loader {
        span{
            background: $theme-color;
        }
    }
}

.header {
    &.link-nav{
        &.fixed-nav{
            .navbar-nav {
                .nav-link {
                    &.active,
                    &:hover {
                    color: $theme-color;
                    }
                }
            }
        }
    }
}


.owl-carousel {
    .owl-dots{
        .owl-dot:hover, .active{
        &:after{
            background: $theme-color;
        }
        }
    }
    .owl-nav {
        button.owl-next,
        button.owl-prev {
        color: $theme-color;
        }
    }
}

.swiper-pagination{
    &.pagination-white{
      .swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
          background: $theme-color;
      }
    }
}

.header{
    &.fixed-nav {
        .btn-white{
            background-image: $btn-gred;
            color: $white;
            &:hover{
                border-color: transparent;
            }
        }
    }
}

.heading-dot{
    background: $btn-gred;
}

.footer-nav{
    .navbar-nav{
        .nav-link{
            &:hover{
                color: $theme-color;
            }
        }
    }
}

.swiper-pagination{
    .swiper-pagination-bullet-active{
        background: $theme-color;
    }
}
